.header {
  width: 100%;
  height: 825px;
  margin: 0px auto;
  background: url(../../images/grow.jpg) no-repeat center;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
